div.home {
	position: relative;
	min-height: 100vh;
	background-color: white;
}

div.home > div {
	padding: 80px 20px 0;
}

.home .gear {
	position: absolute;
	top: 15px;
	right: 15px;
	color: #bbbbbb;
}

.home .avatar {
	width: 40px;
	border-radius: 50%;
	position: absolute;
	top: 20px;
	left: 20px;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.home div .greeting h1 {
	color: #292929;
}

.home div .greeting span {
	color: gray;
	padding-top: 5px;
	display: inline-block;
}

.home div .greeting span .tasks-count {
	color: #4136ff;
}

.home div .greeting div {
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: #bbbbbb;
}

.home div .greeting div i {
	margin-left: 5px;
	cursor: pointer;
}

.home div .greeting div i.selected {
	color: #4136ff;
}

.home .categories.multi .theme-multi {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
  gap: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.home .categories.multi .theme-multi .category-card,
.home .categories.multi .theme-multi .add-new-task {
	width: calc((100% - 20px) / 2);
	height: 192.5px;
	border-radius: 5px;
	position: relative;
	overflow: hidden;
	cursor: pointer;
}

.home .categories.multi .theme-multi .category-card {
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px !important;
}

.home .categories.multi .theme-multi .add-new-task {
	box-shadow: #fe521e82 0px 0px 60px 0px !important;
}

.home .categories.multi .theme-multi .add-new-task {
	background-color: #fe521e;
	width: 20%;
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
}

.home .categories.multi .theme-multi .add-new-task.duble {
	width: 100%;
	height: 45px;
}

.home .categories.multi .theme-multi .add-new-task i {
	color: white;
}

.home .categories.multi .category-card .progress {
	position: absolute;
	bottom: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 20%;
}

.home .categories.multi .theme-multi .category-card i {
	background-color: white;
	width: 50px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 21px;
	z-index: 1;
}

.home .categories.multi .theme-multi .category-card .text {
	position: absolute;
	top: 75%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1;
	text-align: center;
}

.home .categories.multi .theme-multi .category-card .title {
	font-size: 20px;
	color: #292929;
}

.home .categories.multi .theme-multi .category-card .text .tasks-counter {
	font-size: 15px;
	color: gray;
}

.home .categories .zero-tasks {
	font-size: 20px;
	color: gray;
	text-align: center;
	margin: auto;
	padding: 100px 0;
}

.home .categories .zero-tasks a {
	text-decoration: none;
	color: #4136ff;
}

.home .categories.single .theme-single {
	margin-top: 50px;
	color: white;
	padding-bottom: 100px !important;
}

.home .categories.single .theme-single .swiper-wrapper .swiper-slide .category-card {
	border-radius: 5px;
/*	width: calc(75% - 60px);*/
/*	margin: 0 auto;*/
	margin: 0 40px;
	padding: 30px 30px 40px;
	position: relative;
}

.home .categories.single .theme-single .swiper-wrapper .swiper-slide .category-card i.main-icon {
	background-color: white;
	width: 35px;
	height: 35px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	margin-bottom: 15px;
}

.home .categories.single .theme-single .swiper-wrapper .swiper-slide .category-card i.back-icon {
  visibility: visible !important;
  position: absolute;
  right: 2%;
  top: 50%;
  font-size: 100px;
  color: #ffffff0f;
  transform: translateY(-50%);
}

.home .categories.single .theme-single .swiper-wrapper .swiper-slide .category-card .text {
	margin-bottom: 20px;
}

.home .categories.single .theme-single .swiper-wrapper .swiper-slide .category-card .text h3.title {
	font-weight: unset;
	font-size: 30px;
	color: white !important;
}

.home .categories.single .theme-single .swiper-wrapper .swiper-slide .category-card .text span.tasks-counter {
	color: #ffffffc2 !important;
	font-size: 15px;
}

.home .categories.single .theme-single .swiper-wrapper .swiper-slide .category-card .category-tasks .task-container .task {
	padding: 5px 0;
}

.home .categories.single .theme-single .swiper-wrapper .swiper-slide .category-card .category-tasks .task-container .task {
	display: flex;
	cursor: pointer;
}

.home .categories.single .theme-single .swiper-wrapper .swiper-slide .category-card .category-tasks .task-container .task span {
	width: 100%;
	text-align: center;
}

.home .categories.single .theme-single .swiper-wrapper .swiper-slide .category-card .category-tasks .task-container.checked {
	position: relative;
	opacity: 0.5;
}

.home .categories.single .theme-single .swiper-wrapper .swiper-slide .category-card .category-tasks .task-container.checked::before {
	content: "";
	width: 80%;
	height: 1px;
	background-color: white;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%);
}

.home .categories.single .theme-single .swiper-wrapper .swiper-slide .category-card .category-tasks {
	display: flex;
  flex-direction: column;
}

.home .categories.single .theme-single .swiper-wrapper .swiper-slide .category-card .category-tasks .percent-bar {
	position: relative;
	margin-top: 30px;
}

.home .categories.single .theme-single .swiper-wrapper .swiper-slide .category-card .category-tasks .percent-bar .bar {
	width: 100%;
	height: 5px;
	background-color: #ffffff8a;
	border-radius: 10px;
	position: absolute;
	left: 0;
	bottom: -7px;
	overflow: hidden;
	margin-top: 5px;
}

.home .categories.single .theme-single .swiper-wrapper .swiper-slide .category-card .category-tasks .percent-bar .bar .prog {
	width: 30%;
	height: 5px;
	background-color: white;
	position: absolute;
	left: 0;
	bottom: 0;
	border-radius: 10px;
	transition: 1s;
}

.home .categories.single .theme-single .swiper-wrapper .swiper-slide .category-card .category-tasks .task-container .task .checkbox {
	display: none;
}

.home .categories.single .theme-single .swiper-wrapper .swiper-slide .category-card .category-tasks .task-container .task .custom-checkbox {
	width: 10px;
	height: 10px;
	border: 2px solid #ffffff8a;
	border-radius: 4px;
	position: relative;
}

.home .categories.single .theme-single .swiper-wrapper .swiper-slide .category-card .category-tasks .task-container .task .custom-checkbox::before {
	opacity: 0;
}

.home .categories.single .theme-single .swiper-wrapper .swiper-slide .category-card .category-tasks .task-container.checked .task .custom-checkbox::before {
	content: "\f00c";
	font-family: "Font Awesome 6 Free";
	font-weight: 900;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 9px;
	opacity: 1;
}

.home .categories.single .theme-single .swiper-wrapper .swiper-slide .category-card .category-tasks .task-container.checked .task .custom-checkbox {
	opacity: 0;
}

.swiper {
	padding-bottom: 30px !important;
}

.swiper-pagination {
	position: absolute;
	bottom: 50px;
	left: 50%;
	transform: translateX(-50%);
	width: 170px;
	height: 5px;
	background-color: #d0d0d08a;
	border-radius: 10px;
	display: flex;
	overflow: hidden;
}

.swiper-pagination .swiper-pagination-bullet {
	width: 100%;
	height: 5px;
	border-radius: 10px;
}

.swiper-pagination .swiper-pagination-bullet-active {
	background-color: #fe521e;
}

.theme-single .add-new-task {
  position: fixed;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
  width: 425px;
  background-color: #fe521e;
  color: white;
  font-weight: bold;
  text-align: center;
  border-radius: 5px;
  padding: 10px 0;
  cursor: pointer;
  box-shadow: #fe521e54 0px 10px 30px 0px;
}

@media only screen and (max-width: 600px) {
	.theme-single .add-new-task {
		width: 360px;
	}
}

.waves-parent {
	position: absolute;
	bottom: 0;
	left: 0;
	display: block;
	width: 100%;
}

.categories.single .waves-parent {
	display: none;
}

@media only screen and (max-width: 600px) {
	.swiper-button-prev,
	.swiper-button-next {
		display: none !important;
	}
}