.settings {
	/* background-color: #0064ff; */
	background: linear-gradient(150deg, rgba(0,100,255,0.8) 0%, rgba(0,100,255,1) 75%);
	min-height: 100vh;
	color: white;
	padding: 0 20px;
}

.settings .back-btn {
	color: white;
	margin: 50px 0;
	font-size: 22px;
}

.settings .btns {}

.settings .btns .btn {
	display: block;
	text-align: center;
	padding: 10px 0;
	border: 1px solid white;
	margin-bottom: 15px;
	cursor: pointer;
	transition: 0.3s;
}

.settings .btns .btn:hover {
	border-color: #fe521e;
	background-color: #fe521e;
}