div.tasks {
	background-color: #0064ff;
	min-height: 100vh;
	padding: 0 0px 0 20px;
}

div.tasks .back-btn {
	font-size: 22px;
	color: white;
	margin: 50px 0;
}

div.tasks .task-info {
	display: flex;
	align-items: flex-start;
	color: white;
}

div.tasks .task-info i {
	color: #0064ff;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: white;
	margin: 5px 10px 0 0;
}

div.tasks .task-info div span {
	color: #ffffff99;
	margin-top: 3px;
}

div.tasks .empty {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	color: white;
}

div.tasks .empty a {
	text-decoration: none;
	color: #fe521e;
}

div.tasks .tasks {
	display: flex;
	flex-direction: column;
	margin-top: 80px;
	position: relative;
}

div.tasks .tasks .task-container  {
	margin-bottom: 70px;
	display: flex;
	align-items: center;
}

div.tasks .tasks .task-container .task .checkbox {
	display: none;
}

div.tasks .tasks .task-container .task .custom-checkbox {
	width: 15px;
  height: 15px;
  border: 2px solid white;
  border-radius: 5px;
  position: relative;
  display: inline-block;
  overflow: hidden;
}

div.tasks .tasks .task-container .task .custom-checkbox::before {
	content: "\f00c";
	font-family: "Font Awesome 6 Free";
	font-weight: 900;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 18px;
	opacity: 0;
	transition: 0.3s;
	color: white;
}

div.tasks .tasks .task-container.checked .task .custom-checkbox {
	background-color: #0064ff;
	border-color: #0064ff;
}

div.tasks .tasks .task-container.checked .task .custom-checkbox::before {
	opacity: 1;
}

div.tasks .tasks .task-container .task span.task-title {
	position: absolute;
	left: 55px;
	padding: 10px 50px 10px 10px;
	width: calc(100% - 60px);
	background-color: white;
	border-radius: 5px;
	transform: translateY(-25px);
	min-height: 50px;
	color: #242424;
}

div.tasks .tasks .task-container.checked .task span.task-title {
	background-color: #ffffff63;
	color: white;
}

div.tasks .tasks .task-container .task-rem-btn {
	position: absolute;
	right: 60px;
	bottom: 5px;
	color: #00000078;
	transition: 0.3s;
	cursor: pointer;
}

div.tasks .tasks .task-container .task-rem-btn:hover {
	color: red;
}

.tasks .task-progress-bar {
	display: none;
}