* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Open Sans', sans-serif;
}

.app {
	min-height: 100vh;
	overflow: hidden;
}

.app div.add-category,
.app .home {
	transition: 1s;
}

input.submit {
	font-family: 'Oswald', sans-serif !important;
	font-weight: 500 !important;
	letter-spacing: 1px !important;
}

.title, h1, h2, h3 {
	letter-spacing: 1px;
}

.container {
	max-width: 425px;
  min-height: 100vh;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

/* Large monitors */
/*@media screen and (min-width: 600px) {
	.app {
		width: 425px;
		height: 100%;
		margin: auto auto;
	}
}*/

/* Small screens */
/*@media only screen and (max-width: 600px) {
	.app {
		max-width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0px 30px;
	}
}*/

.app {
	width: 100%;
	margin: 0 auto;
}