* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto', sans-serif;
	background-color: black;
}

.app {
	min-height: 100vh;
	overflow: hidden;
}

.app div.add-category,
.app .home {
	transition: 1s;
}

/* Large monitors */
@media screen and (min-width: 600px) {
	.app {
		width: 425px;
		height: 100%;
		margin: auto auto;
	}
}

/* Small screens */
@media only screen and (max-width: 600px) {
	.app {
		max-width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0px 30px;
	}
}