* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto', sans-serif;
	background-color: black;
}

/* Large monitors */
@media screen and (min-width: 600px) {
	.app {
		background-color: white;
		width: 425px;
		height: 100%;
		margin: auto auto;
	}
}

/* Small screens */
@media only screen and (max-width: 600px) {
	.app {
		max-width: 100%;
		background-color: red;
    display: flex;
    flex-direction: column;
    margin: 0px 30px;
	}
}